h1{
    background-color: pink;
}

/* h1{
    background-color: aqua;
} */

#firstId{
    background-color: skyblue;
}

/* #firstId{
    background-color: skyblue;
    background-color: palevioletred;
} */

/* .classA{
    background-color: burlywood;
} */

h2{
    background-color: brown !important;
}

li{
    background-color: aquamarine;
}