/* *{
    margin: 0px;
    padding: 0px;
} */

h2{
    background-color: orange;
    position: relative;
    left: 100px;
    /* top: 50px; */
    /* bottom: 50px; */
    /* right: 50px; */
}

h3{
    background-color: pink;
    position: fixed;
    top: 0px;
    left: 50px;
    z-index: 15;
}

h4{
    background-color: greenyellow;
    position: sticky;
    top: 0px;
}

p{
    background-color: yellow;
    position: absolute;
    left: 50px;
    top: 0px;
    margin: 0px;
    z-index: 20;
}