*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: rgb(64, 113, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    background-color: #fff;
    padding: 35px;
    border-radius: 12px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

input{
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-primary{
    width: 100%;
    height: 45px;
    background-color: rgb(64, 113, 244);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.signup-text{
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #888;
}

.signup-text a{
    color: rgb(79, 126, 236);
    text-decoration: none;
    font-weight: 400;
}

.divider{
    display: flex;
    align-items: center;
    margin: 15px 0 20px;
}

.divider span{
    margin: 0 10px;
    color: #888;
}

.divider::before,
.divider::after{
    content: "";
    height: 1px;
    flex: 1;
    background: #ddd;
}

.social-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 16px;
}

.social-btn img{
    width: 22px;
}

.fb{
    color: rgb(79, 126, 236);
}

.google{
    color: #888;
}