.container{
    background-color: antiquewhite;
    display: flex;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
}

/* justify content works around the main axis
What decides the main axis? Your flex direction
flex-direction => กำหนดทิศทาง
justify-content => จัดตำแหน่งใน main axis
align-items => จัดตำแหน่งใน cross axis*/
/* align items work around cross axis */

.box{
    height: 100px;
    width: 100px;
    /* margin: 5px; */
}

.first{
    background-color: orange;
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
}

.second{
    background-color: green;
    flex-shrink: 4;
    /* flex-basis: 300px; */
    /* flex-grow: 2; */
}

.third{
    background-color: red;
    /* flex-grow: 3; */
    align-self: flex-start;
}

.fourth{
    background-color: chartreuse;
    
}