*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(213, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 400px;
    /* height: 600px; */
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(78, 78, 209);
}

label{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(173, 173, 238);
    color: white;
    font-weight: 600;
    cursor: pointer;
}