h1{
    background-color: orange;
    height: 300px;
    width: 300px;

    /* border-width: 10px;
    border-style: solid;
    border-color: black; */

    /* border: 10px solid black;
    padding: 10px;
    margin: 30px; */

    border: 10px solid black;
    /* padding-right: 10px; */
    /* padding: 10px 20px 30px 40px; */
    padding: 20px 40px;

    /* margin-top: 50px; */
    margin: 50px 20px 30px 40px;
    border-radius: 20px;
}

h2{
    background-color: pink;
    border: 2px solid black;
}

p{
    background-color: aquamarine;
    padding: 20px;
    border: 5px solid black;
    margin: 35px;
}